.work-sans{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}
.brand{
    font-size: 3rem;
    font-weight: bold;
}

/* shared style */
.text-primary{
    color: #FF900E ;
}
.section-title{
    font-size: 2.8rem;
    font-weight: 700;
}

.display-flex{
    display: flex;
}
/* dark 02 */
.text-gray{
    color: #424242;
}
/* dark 03 */
.text-light-gray{
    color: #727272;
}
 .bg-light{
    background-color: rgba(255, 144, 14, 0.1);
 }
.btn-primary{
    background-color: #FF900E;
    color: white;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border: none;
    border-radius: 8px;

}
main > section{
    margin-top: 130px;
}
main{
    max-width: 1440px;
    margin: 0 auto;
}

/* navbar related style */
.navbar{
   justify-content: space-between;
   align-items: center;

}
.nav-item{
    list-style: none;
    margin-right: 30px;
}
.nav-link{
    text-decoration: none;
    font-weight: 500;

}
.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}
/* banner related style */
.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-size: 4rem;
    font-weight: 700;
}
.banner-img{
    width: 100%;
}
/* team and feature style */
.teams{
    align-items: center;
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.our-feature{
    margin-left: 130px;
    max-width: 530px;
}

 #quick{
    font-weight: 500;
 }

 /* some fact style */

 .facts-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: ;
 }
.fact-card{
    border: 1px solid #ff900f;
    width: 240px;
    height: 240px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    text-align: center ;
}
.fact-number{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 5px;
}
.fact-name{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 5px;
}
.facts-description{
    max-width:540px ;
}

/* responsive media query */
@media screen  and (max-width:576px){
    .navbar, 
    .nav-links,
    .teams{
        flex-direction: column;
    }
    .team-img-container{
        grid-template-columns: repeat(1,1fr);
    }
    .our-feature{
        margin-left: 20px;
    }

}

/* medium size device */

@media screen and (min-width:576px) and (max-width:992px){

    .teams{
        flex-direction: column;
    }
    .our-feature{
        margin-left: 50px;
    }
    
}
